<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Template 1</title>
</head>
<body>
  <style>
    html {
      font-family: 'Roboto', sans-serif;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    .header {
      text-align: center;
    }

    .content-zone {
      text-align: center;

    }

    .main-title {
      color: red;
    }

    .footer {
      display: flex;
    }
  </style>
  <section class="header">
    <div class="main-title">
      <h1>TEMPLATE 1</h1>
    </div>
    <div class="main-heading">
      <h3><%= field1 %></h3>
    </div>
    <div class="secondary-heading">
      <h4><%= field2 %></h4>
    </div>
  </section>
  <section class="content-zone">
    <div class="area-one">
      <div class="info">
        <span><%= field3 %></span>
      </div>
      <ul class="contacts">
        <% for(let i = 0; i < array1.length; i++) { %>
        <li class="contact-item">
          <h5><%= array1[i] %></h5>
        </li>
        <% } %>
      </ul>
    </div>
  </section>
  <section class="footer"></section>
</body>
</html>