<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <title>Template 2</title>
</head>
<body style="width:100%">
  <style>
    html {
      font-family: 'Roboto', sans-serif;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    .header {
      text-align: center;
    }

    .content-zone {
      text-align: center;

    }

    img {
      margin: auto;
      width: 450px;
    }

    .main-title {
      color: blue;
    }

    .footer {
      display: flex;
    }
  </style>
  <section class="header">
    <img src="https://free-buttons.org/webdev/data/upload/2017/04/responsive_images.jpg">
    <div class="main-title">
      <h1>TEMPLATE 2</h1>
    </div>
    <div class="main-heading">
      <h3><%= field1 %></h3>
    </div>
    <div class="secondary-heading">
      <h4><%= field2 %></h4>
    </div>
  </section>
  <section class="content-zone">
    <div class="area-one">
      <div class="info">
        <span><%= field3 %></span>
      </div>
      <ul class="contacts">
        <% for(let i = 0; i < array1.length; i++) { %>
        <li class="contact-item">
          <h5><%= array1[i] %></h5>
        </li>
        <% } %>
      </ul>
    </div>
  </section>
</body>
</html>