<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Template 123</title>
</head>
<body>
  <section class="header">
    <div class="main-heading">
      <h1>{{main_title:str}}</h1>
    </div>
    <div class="secondary-heading">
      <h3>{{secondary_title:str}}</h3>
    </div>
  </section>
  <section class="content">
    <div class="area-one">
      <div class="info">
        <span>{{name:str}}</span>
      </div>
      <ul class="contacts">
        ()
        <li></li>
      </ul>
    </div>
    <div class="area-two"></div>
    <div class="area-three"></div>
  </section>
  <section class="footer"></section>
</body>
</html>